[submodule "lib/disorder"]
	path = lib/disorder
	url = git@github.com:ambiata/disorder.hs
[submodule "lib/x"]
	path = lib/x
	url = git@github.com:ambiata/x
[submodule "lib/p"]
	path = lib/p
	url = git@github.com:ambiata/p
[submodule "lib/lane"]
	path = lib/lane
	url = git@github.com:ambiata/lane.git
[submodule "lib/mismi"]
	path = lib/mismi
	url = git@github.com:ambiata/mismi.git
[submodule "lib/delorean"]
	path = lib/delorean
	url = git@github.com:ambiata/delorean.git
[submodule "lib/twine"]
	path = lib/twine
	url = git@github.com:ambiata/twine.git
[submodule "lib/debruijn"]
	path = lib/debruijn
	url = git@github.com:ambiata/debruijn.git
[submodule "lib/tinfoil"]
	path = lib/tinfoil
	url = git@github.com:ambiata/tinfoil.git
[submodule "lib/tine"]
	path = lib/tine
	url = git@github.com:ambiata/tine.git
[submodule "lib/parsley"]
	path = lib/parsley
	url = git@github.com:ambiata/parsley.git
[submodule "lib/anemone"]
	path = lib/anemone
	url = git@github.com:ambiata/anemone.git
